<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <title>Sentiment Analysis</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Sentiment Analysis</h1>
                <form action="/predict" method="post" id="sentimentForm">
                    <div class="form-group">
                        <label for="user_input">Enter a movie review:</label>
                        <textarea class="form-control" id="user_input" name="user_input" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Predict</button>
                </form>
            </div>
        </div>
    </body>
</html>